<header>
    <ul>
        <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
        <li (click)="handlerMenuCategorys()" routerLinkActive="active-link" >
            Categoria
            <ul [ngClass]="menuCategorys ? 'open': 'close' ">
                <li *ngFor="let category of categorys">
                    <a [routerLink]="['category/'+category.nicename]" routerLinkActive="active-link" >
                        {{category.name}}
                    </a>
                </li>
            </ul>
        </li>
        <li><a [routerLink]="['mostviewed']" routerLinkActive="active-link">Mas Visto</a></li>
    </ul>
</header>