ul{
    list-style: none;
}
header{
    position: fixed;
    overflow: auto;
    min-width: 289px;
    float: left;
    height: 100vh;
    
    background-color: #1c1d22;
    color: white;
    padding: 1rem;
}
header li{
    cursor: pointer;
}
header > ul > li{
    /* display: inline; */
    padding: 10px 5px;
    font-weight: bold;
    font-size: 20px;
}
header > ul > li:hover > a{
    color: #eb1808;
}
header > ul > li:hover{
    color: #eb1808;
}
header > ul > li.active-link > a{
    color: #eb1808;
}
header > ul > li > a{
    color: white;
    text-decoration: none;
}
header > ul > li > a.active-link{
    color: #eb1808;
}
header > ul > li:first-child{
    position: relative;
}
header > ul > li:nth-child(3) > img {
    width: 25px;
    position: absolute;
    transform: rotateZ(-90deg);
    margin-left: 20px;
    transition: transform 0.25s ease-in-out;

}
header > ul > li:nth-child(3) > img.open {
    transform: rotateZ(0deg);
}
header > ul > li:nth-child(3) > ul {
    margin-left: 10px;
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
}
header > ul > li:nth-child(3) > ul.open {
    height: 1060px;
    padding-top: 10px;
    /* height: 100%; */
}
header > ul > li:nth-child(3) > ul > li {
    /* padding: 5px 0; */
    border-radius: 5px;
    padding: 5px 10px;
}
header > ul > li:nth-child(3) > ul > li > a {
    text-decoration: none;
    color: white;
}
header > ul > li:nth-child(3) > ul > li:hover {
    background-color: #eb1808;
}
header > ul > li:nth-child(3) > ul > li > a.active-link {
    color: #eb1808;
}
header > ul > li:nth-child(3) > ul > li:hover > a.active-link {
    color: white;
}