<div *ngIf="listBooks.length > 0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <ul>
        <li *ngFor="let listBook of listBooks">
            <img [src]="listBook.cover" [alt]="listBook.title">
            <div>
                <h2>{{listBook.title}}</h2>
                <p><strong>Autor:</strong> {{listBook.author}}</p>
                <span>{{listBook.pages}} Paginas</span>
            </div>
        </li>
    </ul>
    <app-pagination (setBooks)="setListBooks($event)">></app-pagination>
</ng-template>
<ng-template #elseBlock>
    <div class="loading">
        <p>Cargando...</p>
    </div>
</ng-template>


